*{
    background-color: #bb5f5f;    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: grid;
    grid-template-areas: 
    "body"
    "header"
    "nav"
    "main"
    "aside"
    "aside2"
    "footer";
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 20px;
    background: rgb(46, 22, 51);
    color: #333;
}
header{
    grid-area: header;
    background: linear-gradient();
    color: #666;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    animation: fadeIn 5s ease-in-out;
}

form{
   text-align: center;
   padding: 10px;
   margin: 5px;
   font-size: large;
    font-weight: 700;
    input[type="text"]{
        border: 10px solid rgb(14, 5, 31);
    }
}
input:hover{
    background: rgb(13, 11, 41);;
    display: inline;
}
.submit{
    color:blanchedalmond;
}
.reset{
    color:blanchedalmond;
}
.letter{
color:blanchedalmond;
}
nav{
    grid-area: nav;
    background: #000000;
    padding: 10px;
    text-align: center;
    gap: 0px;
    border-style: dotted;
    border-width: 5px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    background: rgb(36, 10, 46);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}
nav ul li :hover{
    background: #481439;
}
main{
    grid-area: main;
    background: rgb(14, 5, 31);
    padding: 20px;
    border-radius: 10px;
}
.partt{
    color: #ffdcdc;
    text-align: center;
    border-radius: 999cm;
    padding: 1cm;
    margin: 100px;
}
::selection{
    background-color: rgb(44, 87, 73);
}
.dropdown-menu{
    position: relative;
   display:block;
}
.dropbtn{
    background-color: rgb(34, 8, 51);
    color: #858282;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.content{
    display:none;
    position:absolute;
    background-color: rgb(0, 0, 0);
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .content{
    display: block;
}

.content a{
    color: rgb(190, 135, 135);
    background: #481439;
    padding: 9px;
    text-decoration:none;
    display: inline-block;
}
.content a:hover{
    background-color:  rgb(13, 11, 41);
}
.tips{
    background: #481439;
    border-radius: 10px;
    padding: 20px;
    list-style: none;
    text-align:center;
    font-style: italic;
}
.tips ul{
font-style: inherit;
font-size: large;
font-weight:600;
}
.tips ul li{
    list-style: none;
}
aside{
    grid-area: aside;
    background: #481439;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.countdown{
    background: #481439;
    color: #bb5f5f;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-weight:bolder;
    animation:blink 1s infinite ;
    display: inline-block;
    justify-content: left;
} 
.aside{
    grid-area: aside;
    background: #481439;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.aside{
    grid-area: aside;
    background: #481439;
    color: bisque;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
}
.aside-athkar{
    color: #ffdcdc;
    padding: 10px;
}
.aside-athkar h3{
   color:#481439 ; 
   font-size: larger;
   font-weight: 800;
   font-style:italic;
}
.aside-athkar p{
    font-weight: 800;
    font-style: italic;
}
.scroll-box{
    width: 50;
    height: 50;
    overflow: scroll;
    padding: 20px;
    background: #481439;
    border-radius: 10px;
    margin: 10px;
}

footer{
    grid-area: footer;
    background: #333;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    font-weight:bolder;
    font-style: italic;
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes blink{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.1;
    }
}
@media (min-width:768px){
    body{
        grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-template-columns: 2fr 1fr;    
    }
    nav ul{
        justify-content: left;
    }
}